/* remove arrows from input boxes? */
/* try neomorphism or claymorphism styling */
/* actually make into a calculator */


* {
    margin: auto;
    box-sizing: border-box;
    background-color: #539987;

}

body {
    padding: auto;
    margin: 5em auto;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    display: flex;

    width: 300px;
    height: 400px;
    padding: auto;
    margin: auto;
    /* border: 1px solid red; */
    border-radius: 5em;

    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(255, 247, 247, 0.352), 0 6px 20px 0 rgba(255, 247, 247, 0.352);
}

input {
    height: 2em;
    background-color: #539987;
    border: none inset;
    border-radius: 5em;
    &:focus {
		border: none;
		outline: 0 !important;
		outline-style: none;
	}
}

input[type=submit] {
    box-shadow: 0 4px 8px 0 rgba(255, 247, 247, 0.352), 0 6px 20px 0 rgba(255, 247, 247, 0.352);
}

input[type=number] {
    text-align: right;
}